/* html,
body {
    height: 100%;
} */

html, body {
    height: 100%;
    width: auto!important; overflow-x: hidden!important
}


a {
    text-decoration: none;
}

.multicolor {
    background-image: linear-gradient(to right, #f7981c, #f06d55, #ae62a9, #4a6bbe, #1668b0, #26a649);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
.chat-window {
    height: 85%;
}

#messages {
    overflow-y: auto;
    max-height: 78vh;
}

.chat-input {
    height: 10%;
    padding-bottom: 1%;
}

.message {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.received {
    background-color: #f4f4f4;
    float: left;
}

.sent {
    background-color: #007bff;
    float: right;
    color: #fff;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.message-text {
    background-color: #f5f5f5;
    color: #333;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
    max-width: 90%;
    width: fit-content;
    word-wrap: break-word;
    line-height: 1.5;
    font-size: 14px;
}

.own-message .message-text {
    background-color: #2196f3;
    color: #fff;
}

code {
    background-color: #9fe073;
    border-radius: 5px;
    display: block;
    font-family: monospace;
    font-size: 14px;
    margin: 0 0;
    padding: 2px;
}

.user {
    font-weight: bold;
    margin-right: 0.5rem;
    color: #26a649;
}

.assistant {
    font-weight: bold;
    margin-right: 0.5rem;
    color: #df8816;
}

.waiting-message {
    color: #888;
    font-style: italic;
    opacity: 0;
    animation: fade-in-out 1s ease-in-out infinite;
}  

.sidebar {
    transition: all 0.3s ease-in-out;
    background-color: rgb(247, 196, 130);
  }
  
  .collapsing-horizontal .sidebar {
    margin-left: -100%;
    transition: all 0.3s ease-in-out;
  }

@media (max-width: 767px) { /* apply the CSS only on small screens such as smartphones */
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 1000;
    }
    .no-gutters {
        padding-left: 0;
        padding-right: 0;
    }
    #messages {
        max-height: 70vh;
    }
}

@keyframes fade-in-out {
    0% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
}
