{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Savvy tool</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/style_home.css' %}">
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-center mb-5">Savvy Pool</h1>
		<div id="enter-api-key" style="margin-bottom: 2rem; display: none;">
            <div class="text-center">
              <button type="button" id="api-key-button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#api-key-popup" onclick="$('#api-key-input-box').val('')">Enter your OpenAI API Key</button>
            </div>
            <div class="text-center">
              <a href="https://platform.openai.com/account/api-keys" rel="noopener" target="_blank" style="font-size: 12px;">Get your API Key here</a>
            </div>
        </div>
		<div id="remove-api-key" class="text-center" style="display: none;">
			<button type="button" id="api-key-button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#remove-api-key-popup">Remove your API Key</button>
		</div>
		<div id="main-functions" class="row" style="display: none;">
			<div class="col-4">
				<a href="{% url 'chat-gpt' %}" style="text-decoration: none;">
					<div class="function function1">
						ChatGPT
					</div>
				</a>
			</div>
			<div class="col-4">
				<div class="function function2">Lawyer</div>
			</div>
			<div class="col-4">
				<div class="function function3">Chef</div>
			</div>
			<div class="col-4">
				<div class="function function4">Image Generator</div>
			</div>
			<div class="col-4">
				<a href="{% url 'english-teacher' %}" style="text-decoration: none;">
					<div class="function function5">
						English Teacher
					</div>
				</a>
			</div>
		</div>
	</div>
	<div id="api-key-popup" class="modal fade" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Enter Your API Key</h5>
			</div>
			<div class="text-center">
			  <input type="text" id="api-key-input-box" placeholder="sk-xxxxxxxxxxxxxxxxxxx" autocomplete="off" style="width: 90%;">
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-reject" data-bs-dismiss="modal">Close</button>
			  <button type="button" class="btn btn-accept" onclick="saveApiKey()">Save</button>
			</div>
		  </div>
		</div>
	</div>
	<div id="remove-api-key-popup" class="modal fade" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Remove Your API Key ?</h5>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-reject" data-bs-dismiss="modal">No</button>
			  <button type="button" class="btn btn-accept" onclick="removeApiKey()">Yes</button>
			</div>
		  </div>
		</div>
	</div>
</body>
<script src="{% static 'js/script.js'%}?5"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>
